.env

docs/*.tmp

logs/*

backup/*

ssl/*

*.log

*.tar

*.tar.gz

*.zip

*.bak

.DS_Store

config.before-waf.php
docker-compose.yml.before-waf

# Uptime Kuma Database
services/monitoring/uptime-kuma/*.db
services/monitoring/uptime-kuma/*.db-shm
services/monitoring/uptime-kuma/*.db-wal
